Redirect /projects/gravity-forms-repeater-add-on https://github.com/kodie/gravityforms-repeater

Redirect /projects/gras https://github.com/kodie/gameranger-account-switcher
Redirect /dl/GRAccountSwitcher_1_2.zip https://github.com/kodie/gameranger-account-switcher/releases
Redirect /dl/GRAccountSwitcher_1_1.zip https://github.com/kodie/gameranger-account-switcher/releases

Redirect /projects/adbuix http://forum.xda-developers.com/showthread.php?t=641385
Redirect /dl/adbuix_0_1_1.deb http://kodieg.com
Redirect /dl/adbuixupdate.sh http://kodieg.com

ErrorDocument 404 /
